    * {
        box-sizing: border-box;
    }


    .body,
    p {
        margin: 0;
    }

    /*HEADER*/

    /*verhnee_menu*/


    .left,
    .ul_li>li {
        float: left;

    }

    .right {
        float: right;


    }



    .red {
        color: red;
    }

    .yellow {
        color: orange;
    }

    .blue {
        color: #71d4ff;
    }

    .bg_blue {
        background: #216fe4;
    }

    .bg_red {
        background: red;
    }

    .bg_orange {
        background: #fc3;
    }

    .verhnee_menu {
        background: #f7f7f7;
        display: inline-block;
        width: 100%;
    }


    .container {
        width: 1200px;
        margin: 0 auto;

    }



    .ul_li li,
    ul {
        list-style: none;
    }

    a {
        text-decoration: none
    }

    .ul_li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;

    }

    .ul_li li {
        padding: 10px 15px;
    }


    .m-l-10 {
        margin-left: 10px;
    }


    .sign {
        text-decoration: underline;
        cursor: pointer;
    }

    .b-r li {
        border-right: 1px solid #dcdcdc;
    }


    .b-r li:last-child {
        border-right: none;
    }

    .verhnee_menu.ul_li i {
        margin-right: 10px;
    }


    .verhnee_menu {
        font-weight: 400;
        font-family: sans-serif;
    }

    .fa-angle-down {
        padding-left: 7px;
        font-size: 11px;
    }

    .icon_msg {
        position: relative;
    }

    .msg {
        position: absolute;
        top: -7px;
        right: 2px;
        background: red;
        width: 13px;
        height: 13px;
        text-align: center;
        color: white;
        font-size: 9px;
        line-height: 1.5;
        border-radius: 13px;
    }


    /*center menu*/

    .center_menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .center_menu {
        font-size: 400;
        font-family: sans-serif;
    }

    .seryi-krug {
        background: #f1ecec;
        width: 40px;
        height: 40px;
        display: block;
        line-height: 2.5;
        text-align: center;
        border-radius: 20px;
        color: #4c4b6c;
    }

    .red {
        color: red;
    }

    .yellow {
        color: orange;
    }

    .blue {
        color: #71d4ff;
    }

    .center_menu .right>p:first-child {
        font-weight: 600;
        font-size: 15px;
        color: #4c4b6c;

    }

    .center_menu .right>p {
        color: #999999;
    }

    /*nijnee menu*/


    .nijnee_menu {
        display: inline-block;
        width: 100%;
        background: #f7f7f7;
        position: relative;
        top: 30px;
        padding: 9px 9px 0;
    }


    .nijnee_menu .left {
        margin-bottom: -6px;

    }

    .nijnee_menu div {
        margin-bottom: -7px;
    }

    .dropdown_menu {
        display: none;
        position: absolute;
        /* border: 1px solid  rgb(182, 103, 103); */
        background: #f3f2f7;
        width: 200px;
        top: 65px;
        z-index: 3;


    }

    .hover_menu li:hover .dropdown_menu {
        display: block;

    }


    .hover_menu a {
        padding: 15px 30px 15px 0px;
        font-weight: 500;
        font-size: 17px;
        font-family: sans-serif;
        color: #4d4b6d;

    }


    a {
        text-decoration: none;

    }


    .link:hover {
        background-color: #7cd0f5;
        border-radius: 35px;
        padding: 10px 15px;
        color: rgb(247, 241, 241);
        font-family: sans-serif;



    }

    /*search*/

    .block-search > form {
        display: block;
        text-align: center;
        margin: -10px 1px;
        width: 289px;
        border-radius: 20px;
        background: rgb(224 227 233);
    }


    form input {

        padding: 10px;
        background: #df99bf59;
    }

    form input,
    button {
        outline: none;
        border: none;
        background: transparent;
    }


      /* Storege form urok 56*/

      form.form input{
        border: 1px solid black;
        background: none;

    }


    .nijnee_menu .seryi-krug {
        background: #fc3;
    }


    .nijnee_menu .last {
        margin-top: -7px;
    }

    .fa-bag-shopping {
        color: white
    }


   /* search-result*/

   .search-result {
    position: absolute;
    background: rgb(135, 190, 144);
    border: 1px solid blue;
    width: 100;
    width: 150px;
    margin-top: 20px;
}
    /*my-card*/

    .my_card li:hover .dropdown_menu {
        display: block;
        background: #f3f2f7;
        border: none;
        z-index: 4;
    }

    .my_card li:hover {
        cursor: pointer;
    }

    .my_card .fa-trash-can {
        margin-top: 60px;


    }

    .my_card img {
        margin-top: -30px;
        margin-left: -35px;
        width: 70px;



    }


    .my_card .dropdown_menu .left {
        margin-top: 15px;
    }

    .my_card .dropdown_menu {
        width: 355px;
        height: 450px;
        margin-left: -12%;


    }
    
    .my_card .dropdown_menu li{
        margin-left: 25px;
    }


    .my_card .dropdown_menu p {
        padding-top: 8px;
    }

    
    hr {
        text-align: center;
        width: 200px;
        margin-top: 20px;
        margin-left: 35px;
        padding: 0 30px;
    }

    /*Check out*/

    .total {
        display: block;
        text-align: center;
        padding: 0;
    }



    .total .check_out p {
        float: left;
        padding-left: 18px;
        font-size: 18px;
        font-weight: 600;
        font-family: sans-serif;


    }

    .my_card del {
        color: #bbb9be;
        margin-left: 8px;
    }

    .total .check_out span {
        float: right;
        padding: 10px 30px;
        font-weight: 600;
        color: #4d4b6d;

    }

    .total button {
        margin-top: 45px;
        border-radius: 25px;
        padding: 14px 45px;
        margin-right: -30px;
        text-align: center;
        background: #7cd0f5;

    }

    .total button a {
        color: aliceblue;
    }

    .total button:hover {
        box-shadow: 0 0 2px 8px;
        color: #b1cfd6;
        transition: 300;
    }




    /*main*/

    main {
        margin-top: 60px;
    }

    .block_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #646566;
    }

    .block_title h1 {
        font-size: 36px;
        margin: 0;
        color: #4c4b6c;
        margin-bottom: 20px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .block_title a {
        color: #4d4b6d;

    }
 /*Futured js*/

 .block_title  .insert_listing li {
    background-color: #f1e497;
    color: #4c4b6c;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
 }

 .block_title  .insert_listing  li{
    padding: 8px 10px 7px;
  
 }

    #product {
        padding: 0 15px;
    }

    .body_block {
        margin-top: 20px;
    }


    .block_title .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block_title .right i {
        padding: 12px;
    }

    .fa-circle-arrow-right {
        margin-right: 25px;
    }

    .block_title .right:hover a {
        color: #71d4ff;
        list-style: none;
    }

    /*body block - product*/

    .body_block {
        margin-top: 20px;
    }


    .block_stars {
        display: inline-block;
    }

    .list_product>.product {
        float: left;
    }

    .block_stars>div {
        float: left;
    }

    .btns li {
        list-style: none;
        display: inline-block;

    }


    /**product style*/

    .product img {
        width: 200px;
        overflow: hidden;
        object-fit: contain;
    }

    .body_product {
        margin-top: 10px;
    }

    .product {
        display: block;
        min-height: 304px;
    }

    .stars>i:first-child {
        margin-left: 0;
    }

    .stars i {
        color: #e3bf0fd9;
        font-size: 10px;
        margin-left: -3px;
    }

    .stars {
        margin-right: 6px;
    }

    .reviews {
        font-size: 13px;
        line-height: 1.7;
    }

    .price span {
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
        color: #4c4b6c;
    }

    .body_product .title {
        font-size: 16px;
    }

    .price del {
        font-size: 15px;
        color: #b4b3b9;
        margin-left: 12px;
        line-height: 2;
    }

    .btns li {
        padding: 0 10px
    }

    .btns .ul_li {
        display: flex;
        justify-content: space-evenly;
    }

    .btns li:hover .seryi-krug {
        background: #66ccff;
        color: #f7fcfd;
    }


    .btns .seryi-krug {
        transition: .5s;
        cursor: pointer;
    }

    .dnone {
        display: none;
    }


    .price {
        width: 100%;
        margin-top: -4px;
    }


    .img {
        position: relative;
    }

    .desk_img {
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff96;
        width: 100%;
        height: 100%;
        border: 1px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s;
        text-align: center;
    }




    .desk_img .title {
        font-size: 17px;
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .desc {
        width: 90px;
        text-align: center;
    }

    .product:hover .dnone {
        display: block;
    }

    .product:hover .block_stars {
        display: none;
    }

    .product:hover .desk_img {
        opacity: 1;
    }


    .list_product {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .tooltips {
        position: absolute;
        right: 0;
        padding: 3px 7px;
        color: white;
        font-size: 13px;
        right: -10px;
        top: 4px;
        border-radius: 8px;
        z-index: 1;
    }





    .bg_orange::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 22px;
        border: 5px solid transparent;
        border-top: 10px solid rgb(237 193 36 / 65%);

    }


    .bg_red::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 22px;
        border: 5px solid transparent;
        border-top: 10px solid red;

    }


    .bg_blue::before {
        content: '';
        position: absolute;
        left: 4px;
        top: 22px;
        border: 5px solid transparent;
        border-top: 10px solid #216fe4;

    }


    /*Banner*/

    #banner {
        width: 100%;

    }

    /*Footer*/

    footer {

        width: 100%;
        margin-bottom: 40px;
    }

    .btn_call a {
        background: #66ccff;
        color: white;
        padding: 15px 30px;
        border-radius: 25px;
    }

    .btn_call {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn_call a:hover {
        background: rgb(13, 97, 136);
        box-shadow: 0 0 25px 0px #66ccff;


        cursor: pointer;
    }

    .f_li_hover li {
        padding: 5px 0;
        transition: .5s;
    }

    .f_li_hover li:hover {
        margin-left: 15px;
        font-weight: bold;

    }


    .f_ttl {
        position: relative;
    }

    .f_ttl::before {
        content: "";
        width: 50px;
        background: rgb(241, 233, 233);
        border-radius: 18px;
        margin-top: 45px;
        height: 5px;
        position: absolute;
    }

    footer .ul_li li {
        padding: 2px;
    }

    /*footer social icons*/

    .f_icon i {
        padding: 0 16px 0;
        cursor: pointer;
    }

    .f_icon a {
        padding: 0 10px 0;
        color: rgba(110, 112, 110, 0.623);
        font-family: sans-serif;
        font-size: 15px;
    }


    footer .f_pay a {
        color: #4c4b6c;
        font-size: 15px;
        font-weight: 700;

    }

    /*Accordeon style*/

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    
    .active, .accordion:hover {
        background-color: #ccc; 
    }
    
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    /*@media*/

    @media (max-width : 1024px) {


        .container {
            width: auto;


        }

        .center_menu span i {
            margin-top: 12px;
        }

        .nijnee_menu .right {
            display: none;
        }

        .nijnee_menu a {
            font-size: 21px;
        }


        .list_product {
            flex-wrap: wrap;
            justify-content: left;

        }


        #product {
            padding: 0 68px;
        }

        .list_product>.product:nth-child(4n) {
            margin-right: 0;
        }


        .center_menu,
        .verhnee_menu p {
            font-size: 12px;
        }

        .col-md-8,
        .col-md-4 img {
            width: 100%;
        }

        .col-md-4>p {
            width: 150px;
        }

    }

    footer ul.ul_li.mt-5 img {

        padding: 9px;
    }


    .f_pay {
        padding: 0 90px 0 0;
    }


    @media (max-width: 812px) {

        .verhnee_menu .right,
        .center_menu .left {
            display: none;
        }

        .nijnee_menu .right {
            display: none;
        }

        .col-md-8 {
            width: 100%;
        }

        .block_title h1 {
            font-size: 25px;
        }

        .m-l-10 {
            margin-left: 0;
        }

        .container {
            width: 100%;
        }

        #product {
            padding: 0 43px;
        }

        .list_product>.product:nth-child(3n) {
            margin-right: 0;
        }

        .list_product>.product:nth-child(4n) {
            margin-right: 30px;
        }

        #banner .col-md-8 img {
            width: 696px;
        }

        .f_ttl {
            font-size: 14px;
        }

        .btn_call a {
            background: #66ccff;
            color: white;
            font-size: 14px;
            padding: 10px 24px;
            border-radius: 25px;
        }

    }

    @media (max-width: 736px) {

        .center_menu .ul_li>li:nth-child(2),
        .center_menu .ul_li>li:nth-last-child(3),
        .nijnee_menu .left {
            display: none;
        }

        .nijnee_menu .container>div,
        .right img,
        .product .img {
            width: 100%;
        }

        .my_card li:hover .dropdown_menu {
            display: none;
        }


        #banner .col-md-8 img {
            width: 550px;
        }
    }

    #banner .col-md-4 {
        margin-left: 0;
    }


    @media (max-width: 667px) {

        .center_menu {
            margin-bottom: -20px;
        }

        .nijnee_menu {
            display: none;

        }

        

        main {
            margin: 50px 0 12px;
            margin-left: 23px;
        }

      

        #product {
            padding: 0;
        }

        .product img {
            width: 166px;
        }

        .product {
            margin-right: 8px;
        }

        .body_product .title {
            font-size: 14px;
        }

        .price span {
            font-size: 15px;

        }

        footer.mt-5 .col-sm-2 {
            display: none;
        }

        footer.mt-5 .col-md-4 {

            margin-left: 20px;
        }


    }

    @media (max-width: 480px) {

        .verhnee_menu,
        .center_menu p {
            font-size: 10px;
        }

        /* .verhnee_menu .right {
                float: none;
            } */

        .center_menu img {
            width: 80px;
        }

        .center_menu .ul_li>li:nth-child(2),
        .center_menu .ul_li>li:nth-last-child(3),
        .nijnee_menu .leftÐ±,
        .verhnee_menu .right {
            display: none;
        }

        .list_product>.product:nth-child(4n) {
            margin-right: 0;
        }

        .center_menu li {
            padding-top: 0;
        }

        .nijnee_menu {
            font-size: 12px;
        }

        .nijnee_menu .container>div,
        .right img,
        .product img {
            width: 100%;
        }

        .nijnee_menu form {
            width: 230px;
        }

        .product {
            margin-right: 0;
            width: 45%;
        }

        .list_product>.product:nth-child(4n) {
            margin-right: 0;
        }

        .list_product .title {
            font-size: 12px;
        }


    }

    @media (max-width: 414px) {

        .nijnee_menu,
        .block_title .left {
            display: none;
        }

        .center_menu {
            margin-bottom: -40px;
        }

        .center_menu .ul_li .right p {
            font-size: 11px;
        }

        span.seryi-krug {
            margin-bottom: 10px;
        }

        #product img {
            width: 115px;
        }

        #product {
            padding: 4px;
            margin-left: 10px;
        }

        .product {
            margin-bottom: -95px;
            margin-left: 10px;

        }

        .tooltips {
            margin-right: 25px;
        }

        #banner .col-md-8 img {
            width: 387px;
        }

        #banner .col-md-4 img {
            width: 100%;
        }

        footer.mt-5 {
            font-size: 14px;
            margin: 0 11px;
            margin-bottom: 26px;
        }

        ul.ul_li.mt-5 img {
            margin: 14px;
        }

        .f_pay {
            text-align: center;
            font-size: 11px;
            padding: 0 9px 0 0px;
        }

        .f_ .btn_call {
            margin-left: 35px;
        }

        .f_icon {
            margin-left: 15px;
        }

        .col-md-4>p img {
            width: 90px;
        }


    }

    @media (max-width: 375px) {

        .center_menu .right>p:first-child {
            font-size: 12px;

        }

        .nijnee_menu {
            display: none;
        }

        .center_menu {
            margin-bottom: -40px;
        }

        span.seryi-krug {
            margin-bottom: 10px;
        }

        .product {
            margin-bottom: -95px;
            margin-left: 10px;

        }

        .right.m-l-10 p {
            font-size: 6px;
        }


        .tooltips {
            margin-right: 25px;
        }

        .block_title span {
            font-size: 13px;
        }

        #banner img {
            width: 345px;

        }

        .col-md-8 {
            width: 100%;
        }

        footer.mt-5 {
            font-size: 14px;
        }

        ul.ul_li.mt-5 img {
            margin: 14px;
        }


        p.btn_call {
            margin: 34px 10px 48px;
        }



        .f_pay {
            font-size: 12px;
        }

        .btn_call {
            margin-left: 35px;
        }

        .f_icon {
            margin-left: 15px;
        }

        .f_pay {
            margin-left: 50px;
        }

        ul.f_li_hover,
        .f_ttl,
        .col-md-2,
        .col-md-4 {
            margin-left: 36px;
        }
    }




           
        

    
  